# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  # Spring / Java (Maven)
  - package-ecosystem: "maven"
    directory: "/server"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    groups:
      spring:
        patterns:
          - "org.springframework*"
          - "org.springdoc*"

  # Angular / npm
  - package-ecosystem: "npm"
    directory: "/client"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    groups:
      angular:
        patterns:
          - "@angular*"
          - "rxjs"
          - "zone.js"
